[Unit]
Description=KronosKVM application containers
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target
Conflicts=kronoskvm-api.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/kronoskvm
ExecStart=/usr/bin/docker-compose -f compose.yaml up --detach --remove-orphans
ExecReload=/usr/bin/docker-compose -f compose.yaml up --detach --build --remove-orphans
ExecStop=/usr/bin/docker-compose -f compose.yaml down
TimeoutStartSec=600
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
